# Okta — remove -admin from domain
OKTA_DOMAIN=demo-ai-auth-raah.okta.com
OKTA_CLIENT_ID=0oa11qycvafW6r3fW698
OKTA_CLIENT_SECRET=60oie0_-33adHTsgJyTnYDejmMFAOdW-uzmBai98Q66flrPYXdq3pxVtef31D9LB
OKTA_REDIRECT_URI=https://reva-plugin.onrender.com/oauth/callback

# Cowork connector registration
COWORK_CLIENT_ID=
COWORK_CLIENT_SECRET=

# Reva
REVA_TES_URL=
CEDAR_POLICY_STORE_ID=
JWT_SIGNING_SECRET=reva-cowork-secret-2026

# App
PORT=3000
NODE_ENV=production
